<div class="row text-center">
	<h1>LOG IN</h1>
	<form class="form" name="login">
		<input class="form-control input-lg" type="text" placeholder="Usuario" name="usuario" required><br>
		<input class="form-control input-lg" type="password" placeholder="Contraseña" required name="clave"><br>
		<br>
		<button type="submit" class="btn btn-block btn-lg btn-primary" >Log    <span class="glyphicon glyphicon-circle-arrow-right"></span></button>
	</form>
	<br>
	<button type="button" id="btn-registrar" class="btn btn-block btn-lg btn-success" >Registrarse    <span class="glyphicon glyphicon-circle-arrow-down"></span></button>
</div>


