<div class="row text-center">
	<h1>Modificar:</h1>
	<form class="form" name="dashboard">
		<input class="form-control input-lg" type="text" placeholder="Nombre" name="nombre" required><br>
		<input class="form-control input-lg" type="text" placeholder="Apellido" name="apellido" required><br>
		<input class="form-control input-lg" type="text" placeholder="Usuario" name="usuario" required><br>
		<input class="form-control input-lg" type="email" placeholder="nombre@ejemplo.com" readonly name="email" ><br>
		<input class="form-control input-lg" type="password" placeholder="Contraseña" required name="clave"><br>
		<input class="form-control input-lg" type="password" placeholder="Ingrese misma contraseña" required name="clave2"><br>
		<br>
		<button type="submit" class="btn btn-block btn-lg btn-primary">Guardar cambios  <span class="glyphicon glyphicon-ok"></span></button>
	</form>
</div>